<% title Person.model_name.human(count: 2) %>

<div id="index-people" class="index people">
  <div class="p-3 my-3 bg-white border-gray border rounded">
    <h5 class="pb-2">
      <%= t("observatorio.search.title") %>
    </h5>
    <%= form_tag({ controller: "people", action: "index" }, method: :get) do %>
      <%= text_field_tag :search, @search, class: "form-control form-control-sm" %>
      <div class="text-right mt-3">
        <%= submit_tag t("observatorio.search.submit"), class: "btn btn-primary btn-sm" %>
        <%= link_to t("observatorio.search.clean_filters"), people_path,
              class: "btn btn-secondary btn-sm" %>
      </div>
    <% end %>
  </div>

  <div class="p-3 p-md-3 my-3 bg-white border-gray border rounded">
    <% @resources.each do |person| %>
      <div class="media search-result mb-2">
        <% if can? :read, person %>
          <%= link_to image_tag(person.picture&.face_thumb&.url || image_path("open-iconic/person.svg"),
                class: "rounded-circle d-none d-md-inline thumb"), url_for(person) %>
        <% else %>
          <%= image_tag person.picture&.face_thumb&.url || image_path("open-iconic/person.svg"),
                class: "rounded-circle d-none d-md-inline thumb" %>
        <% end %>
        <p class="media-body ml-md-3 mb-0 pb-2 pb-md-0">
          <strong class="mr-2">
            <% if can? :read, person %>
              <%= link_to display_name(person), url_for(person) %>
            <% else %>
              <%= display_name(person) %>
            <% end %>
          </strong>
          <% person.tags.each do |tag| %>
            <a href='<%= tag_url(tag) %>' class="d-inline-block mr-1">
              <span class="badge badge-pill badge-info">
                <%= tag.name %>
              </span>
            </a>
          <% end %>
        </p>
      </div>
    <% end %>
    <nav class="mt-3">
      <ul class="pagination pagination-sm mb-0">
        <li class="page-item ml-auto <%= "disabled" if @page == 1 %>">
          <a class="page-link" href="<%=
               @page == 1 ? "#" : people_path(search: @search, page: @page - 1)
             %>">
            <%= Person.human_attribute_name(:previous_page) %>
          </a>
        </li>
        <li class="page-item <%= "disabled" if @last_page %>">
          <a class="page-link" href="<%=
               @last_page ? "#" : people_path(search: @search, page: @page + 1)
             %>">
            <%= Person.human_attribute_name(:next_page) %>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
