<% title display_name(@resource) %>

<div id="show-imports" class="show imports">
  <!-- General information -->
  <div class="p-3 my-3 bg-white text-center border-gray border rounded general-infos">
    <div class="text-right p-2 d-none d-md-block">
      <a href="<%= download_imports_membership_path(@resource) %>" class="action has-tooltip mx-1"
         data-placement="top" title="<%= Import.human_attribute_name(:download) %>">
        <%= download class: "svg svg-primary", width: "24px", height: "24px" %>
      </a>
    </div>
    <h2><%= display_name(@resource) %></h2>
    <h5 class="d-inline-block">
      <% case @resource.status %>
      <% when "pending" %>
        <span class='badge badge-pill badge-secondary status-badge <%= "status-finished" if @resource.finished? %>'>
          <%= t("observatorio.status.#{@resource.status}") %>
        </span>
      <% when "processing" %>
        <span class='badge badge-pill badge-info status-badge <%= "status-finished" if @resource.finished? %>'>
          <%= t("observatorio.status.#{@resource.status}") %>
        </span>
      <% when "success" %>
        <span class='badge badge-pill badge-success status-badge <%= "status-finished" if @resource.finished? %>'>
          <%= t("observatorio.status.#{@resource.status}") %>
        </span>
      <% when "error" %>
        <span class='badge badge-pill badge-danger status-badge <%= "status-finished" if @resource.finished? %>'>
          <%= t("observatorio.status.#{@resource.status}") %>
        </span>
      <% end %>
    </h5>
  </div>

  <div class="p-3 my-2 bg-black border-gray border rounded import-logs">
    <% if @resource.finished? %>
      <% @resource.logs.each_with_index do |log, index| %>
        <% case log["severity"] %>
        <% when "info" %>
          <samp class='<%= index.even? ? "text-white" : "text-info" %> small'>
        <% when "error" %>
          <samp class="text-danger small">
        <% end %>
          <% if log["line_number"].present? %>
            <strong><%= t("observatorio.import.logs.line_number_prefix") %> <%= log["line_number"] %> - </strong>
          <% end %>
          <%= log["message"] %>
        </samp>
        </br>
      <% end %>
    <% else %>
      <samp class="loading small mx-auto">
        <%= circle class: "svg-secondary" %>
        <%= circle class: "svg-secondary" %>
        <%= circle class: "svg-secondary" %>
      </samp>
    <% end %>
  </div>
</div>
