<div class="modal fade" id="import-details-modal" tabindex="-1"
     role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header py-1">
        <h5 class="modal-title" id="deleteModalTitle">
          Descrição das colunas
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <%= image_tag image_path("open-iconic/x.svg") %>
        </button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <strong class="pb-1 d-block">NAME</strong>
          O nome da organização
          <br/>
          <div class="small">a organização será criada se não existir no banco de dados</div>
        </div>
        <div class="mb-3">
          <strong class="pb-1 d-block">DATE_OF_FOUNDATION (opcional)</strong>
          Data de fundação da organização
          <br/>
          <div class="small">as células devem estar formatadas como data no documento</div>
        </div>
        <div class="mb-3">
          <strong class="pb-1 d-block">DATE_OF_EXTINCTION (opcional)</strong>
          Data de extinção da organização
          <br/>
          <div class="small">as células devem estar formatadas como data no documento</div>
        </div>
        <div class="mb-3">
          <strong class="pb-1 d-block">APPROXIMATE_DATES (opcional)</strong>
          Se a célula não estiver em branco, significa que as datas de fundação e extinção da organização são aproximadas
        </div>
        <div class="mb-3">
          <strong class="pb-1 d-block">SCHOOL (opcional)</strong>
          Se a célula não estiver em branco, significa que a organização é uma instituição de ensino
        </div>
        <div class="mb-3">
          <strong class="pb-1 d-block">TAG (opcional / é permitido haver mais de uma por linha)</strong>
          Etiqueta que será atribuída à pessoa
          <br/>
          <div class="small">deve existir no banco de dados</div>
        </div>
      </div>
    </div>
  </div>
</div>
