<div class="modal-body">
  <%= t("observatorio.models.user_group.user_added",
        user: tag.strong(display_name(@user))).html_safe %>
</div>
<div class="modal-footer">
  <%= link_to t("observatorio.dialog.ok"), user_group_path(@resource),
        class: "btn btn-primary btn-sm"%>
</div>
