<% title display_name(@resource) %>
<% all_users = User.all %>

<div id="show-user-groups" class="show user-groups">
  <div class="p-3 my-3 bg-white text-center border-gray border rounded general-infos">
    <h2 class="mb-3">
      <span class="badge badge-pill badge-info">
        <%= display_name(@resource) %>
      </span>
    </h2>
    <div class="small text-muted">
      <%= UserGroup.human_attribute_name(:created_at) %>:
      <%= display_time(@resource.created_at) %>
    </div>
    <div class="small text-muted">
      <%= UserGroup.human_attribute_name(:updated_at) %>:
      <%= display_time(@resource.updated_at) %>
    </div>
  </div>

  <div class="modal fade modal-form-static" id="add-user" tabindex="-1" role="dialog"
       aria-labelledby="addUserLabel" aria-hidden="true"
       data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header py-1">
          <h5 class="modal-title" id="addUserLabel">
            <%= @resource.class.human_attribute_name(:add_user) %>
          </h5>
        </div>
        <div class="text-center loading">
          <div class="spinner-border" role="status">
            <span class="sr-only"><%= t("observatorio.loading") %></span>
          </div>
        </div>
        <div class="modal-form-content">
          <%= form_for @resource, url: { action: "add_user" }, method: :post do %>
            <div class="modal-body">
              <div class="form-group row">
                <%= label_tag "user_id", User.model_name.human, class: "col-3" %>
                <%= select_tag "user_id",
                      options_for_select([nil] + users_options, nil),
                      class: "col-8 form-control form-control-sm", required: true %>
              </div>
            </div>
            <div class="modal-footer">
              <%= submit_tag t("observatorio.save"), class: "btn btn-primary btn-sm" %>
              <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">
                <%= t("observatorio.cancel") %>
              </button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="p-3 my-2 bg-white border-gray border rounded">
    <div class="d-inline-block subsection mb-2">
      <span class="float-left mr-2">
        <h5><%= UserGroup.human_attribute_name(:users) %></h5>
      </span>
      <div class="d-none d-md-block">
        <% if can? :update, @resource %>
          <a href='#add-user' class='action has-tooltip mx-2' data-toggle="modal"
             data-placement="top" title="<%=  UserGroup.human_attribute_name(:add_user) %>">
            <%= plus class: "svg svg-primary", width: "16px", height: "16px" %>
          </a>
        <% end %>
      </div>
    </div>
    <% @resource.users.each do |user| %>
      <div class="modal fade modal-form-static"
           id="remove-user-<%= user.id %>" tabindex="-1" role="dialog"
           aria-labelledby="removeUser<%= user.id %>" aria-hidden="true"
           data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header py-1">
              <h5 class="modal-title" id="removeUser<%= user.id %>">
                <%= @resource.class.human_attribute_name(:remove_user) %>
              </h5>
            </div>
            <div class="text-center loading">
              <div class="spinner-border" role="status">
                <span class="sr-only"><%= t("observatorio.loading") %></span>
              </div>
            </div>
            <div class="modal-form-content">
              <div class="modal-body">
                <%= t("activerecord.attributes.user_group.remove_user_confirm",
                        user: tag.strong(display_name(user))).html_safe %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">
                  <%= t("observatorio.dialog.no") %>
                </button>
                <%= form_tag remove_user_user_group_path(@resource, user_id: user.id),
                             method: :delete do %>
                  <%= submit_tag t("observatorio.dialog.yes"), class: "btn btn-danger btn-sm" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="media item">
        <div class="media-body my-2 my-md-0 main">
          <span class="float-left mr-3">
            <strong><%= display_name(user) %></strong>
          </span>
          <div class="d-none d-md-block">
            <% if can? :update, @resource %>
              <a href="#remove-user-<%= user.id %>"
                 class="action has-tooltip"
                 data-toggle="modal"
                 data-placement="top"
                 title="<%= UserGroup.human_attribute_name(:remove_user) %>">
                <%= image_tag image_path("open-iconic/x.svg") %>
              </a>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="p-3 my-2 bg-white border-gray border rounded">
    <div class="d-inline-block subsection mb-2">
      <span class="float-left mr-2">
        <h5><%= UserGroup.human_attribute_name(:permissions) %></h5>
      </span>
    </div>
    <%
      permissions_h = {
        Person => [:create, :read, :update, :delete, :list],
        Organization => [:create, :read, :update, :delete, :list],
        OrganizationPosition => [:create, :read, :update, :delete, :list],
        EducationDegree => [:create, :read, :update, :delete, :list],
        EducationCourse => [:create, :read, :update, :delete, :list],
        Event => [:create, :read, :update, :delete, :list],
        EventRole => [:create, :read, :update, :delete, :list],
        Tag => [:create, :read, :update, :delete, :list],
        UserGroup => [:create, :read, :update, :delete, :list],
        Import => [:create, :read, :list]
      }
    %>
    <% permissions_h.keys.sort_by { |c| c.model_name.human(count: 2) }.each do |klass| %>
      <div class="mb-3">
        <div class="pb-1">
          <%= klass.model_name.human(count: 2)  %>
        </div>
        <% permissions_h[klass].sort_by { |p| t("observatorio.permissions.#{p}") }.each do |p| %>
          <div class="ml-1">
            <% if @resource.permissions[klass.to_s] && @resource.permissions[klass.to_s].include?(p.to_s) %>
              <%= check class: "svg svg-success pict-info d-inline", width: "0.8rem", height: "0.8rem"  %>
            <% else %>
              <%= x class: "svg svg-danger pict-info d-inline", width: "0.8rem", height: "0.8rem" %>
            <% end %>
            <%= t("observatorio.permissions.#{p}") %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
