<div class="modal-body">
  <%= t("observatorio.models.relationship.updated",
        with: tag.strong(display_name(@resource.with))).html_safe %>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">
    <%= t("observatorio.dialog.ok") %>
  </button>
</div>

<%= hidden_field_tag :refresh_element, "#relationship-#{@resource.id}" %>
<%= hidden_field_tag :refresh_element, "#history-subsection" %>
