<% title t("devise.passwords.new.forgot_your_password") %>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "form-devise" }) do |f| %>
  <div class="form-group">
    <% email_error = resource.errors[:email] && resource.errors[:email].first %>
    <%= email_field_tag "user[email]", resource.email,
          class: "form-control #{"is-invalid" if email_error }",
          autofocus: true, required: true,
          placeholder: resource.class.human_attribute_name(:email)  %>
    <% if email_error %>
      <div class="invalid-feedback">
        <%= email_error %>
      </div>
    <% end %>
  </div>
  <div class="control-group">
    <%= f.submit t('devise.passwords.new.send_me_reset_password_instructions'), class: "btn btn-lg btn-primary btn-block" %>
  </div>
  <%= render "devise/shared/links" %>
<% end %>
