<% item = version.item_state(belongs_to: true) %>
<% item_klass = version.item_klass %>
<% event = version.event %>
<div class="media item">
  <div class="media-body mb-0 mt-0 mb-2">
    <div class="d-inline-block main">
      <strong class="mb-md-0">
        <%= display_time(version.created_at) %>
      </strong>
      &middot;
      <%= display_user(version.user) %>
    </div>
    <span class="ml-2 d-block">
      <% if @resource == item %>
        <%= t("paper_trail.attachment.#{event}").html_safe %>
      <% else %>
        <%
          display_attachment = if item.persisted?
            tag.strong(
              link_to(item.label, attachment_path(item, origin: {
                id: @resource.id,
                controller: @resource.class.name.pluralize.underscore
              }))
            )
          else
            tag.strong(item.label, class: "text-muted")
          end
        %>
        <% case item.attachable %>
        <% when Education %>
          <span class="student-only">
            <%= t("paper_trail.education.student.attachment.#{event}",
                  attachment: display_attachment,
                  school: tag.strong(display_resource(item.attachable.school))).html_safe %>
          </span>
          <span class="school-only">
            <%= t("paper_trail.education.school.attachment.#{event}",
                  attachment: display_attachment,
                  student: tag.strong(display_resource(item.attachable.student))).html_safe %>
          </span>
        <% when EventParticipant %>
          <span class="participant-only">
            <%= t("paper_trail.event_participant.participant.attachment.#{event}",
                  attachment: display_attachment,
                  event: tag.strong(display_resource(item.attachable.event))).html_safe %>
          </span>
          <span class="event-only">
            <%= t("paper_trail.event_participant.event.attachment.#{event}",
                  attachment: display_attachment,
                  participant: tag.strong(display_resource(item.attachable.participant))).html_safe %>
          </span>
        <% when OrganizationMember %>
          <span class="member-only">
            <%= t("paper_trail.organization_member.member.attachment.#{event}",
                  attachment: display_attachment,
                  organization: tag.strong(display_resource(item.attachable.organization))).html_safe %>
          </span>
          <span class="organization-only">
            <%= t("paper_trail.organization_member.organization.attachment.#{event}",
                  attachment: display_attachment,
                  member: tag.strong(display_resource(item.attachable.member))).html_safe %>
          </span>
        <% when OrganizationOwner %>
          <span class="owner-only">
            <%= t("paper_trail.organization_owner.owner.attachment.#{event}",
                  attachment: display_attachment,
                  organization: tag.strong(display_resource(item.attachable.organization))).html_safe %>
          </span>
          <span class="organization-only">
            <%= t("paper_trail.organization_owner.organization.attachment.#{event}",
                  attachment: display_attachment,
                  owner: tag.strong(display_resource(item.attachable.owner))).html_safe %>
          </span>
        <% when Relationship %>
          <%= t("paper_trail.relationship.attachment.#{event}",
                attachment: display_attachment,
                with: tag.strong(display_resource(item.attachable.with))).html_safe %>
        <% else %>
          <%= t("paper_trail.#{item.attachable_type.underscore}.attachment.#{event}",
                attachment: display_attachment).html_safe %>
        <% end %>
      <% end %>
      <% if event != "destroy" %>
        <a class="btn btn-info small btn-sm py-0 px-1 ml-1"
           data-toggle="collapse"
           href="#details<%= version.id %>"
           role="button"
           aria-expanded="false"
           aria-controls="details">
           <%= t("paper_trail.details") %>
        </a>
      <% end %>
    </span>
    <% if event != "destroy" %>
      <div class="collapse small" id="details<%= version.id %>">
        <ul class="mt-1 mb-0 pl-4" style="list-style-type: none">
          <% if version.converted_changeset.key?("label") %>
            <li>
              <strong><%= Attachment.human_attribute_name(:label) %>:</strong>
              <%= Differ.diff_by_word(
                    *version.converted_changeset["label"].reverse
                  ).format_as(:html).html_safe %>
            </li>
          <% end %>
          <% if version.converted_changeset.key?("file_size") %>
            <li>
              <strong><%= Attachment.human_attribute_name(:file_size) %>:</strong>
              <%= Differ.diff_by_line(
                    *version.converted_changeset["file_size"].reverse.map { |s| number_to_human_size(s) }
                  ).format_as(:html).html_safe %>
            </li>
          <% end %>
          <% if version.converted_changeset.key?("description") %>
            <li>
              <strong><%= Attachment.human_attribute_name(:description) %>:</strong>
              <%= Differ.diff_by_line(
                    *version.converted_changeset["description"].reverse
                  ).format_as(:html).html_safe %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
