<%= form_for @resource do |f| %>
  <%= f.hidden_field :attachable_id %>
  <%= f.hidden_field :attachable_type %>
  <div class="modal-body">
    <div class="form-group row label-group">
      <% label_error = @resource.errors[:label]&.first %>
      <%= label_tag "attachment[label]",
            @resource.class.human_attribute_name(:label), class: "col-3" %>
      <%= text_field_tag "attachment[label]", @resource.label,
            :"data-autofocus" => true, required: true, autocomplete: "off",
            class: "form-control form-control-sm col-8 #{"is-invalid" if label_error }" %>
       <% if label_error %>
         <div class="invalid-feedback">
           <div class="row">
             <div class="col-8 offset-3">
               <%= label_error %>
             </div>
           </div>
         </div>
       <% end %>
    </div>
    <% if @resource.new_record? %>
      <div class="custom-file">
        <% file_error = @resource.errors[:file]&.first %>
        <%= file_field_tag "attachment[file_unencrypted]",
              class: "custom-file-input #{"is-invalid" if file_error}" %>
        <%= label_tag "attachment[file_unencrypted]",
              @resource.class.human_attribute_name(:file_browse),
              class: "custom-file-label",
              :"data-browse" => t("observatorio.browse") %>
        <% if file_error %>
          <div class="invalid-feedback">
            <%= file_error %>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="form-group">
        <%= label_tag "attachment[description]",
              @resource.class.human_attribute_name(:description), class: "d-block" %>
        <%= f.text_area :description, style: "height: 275px", class: "small" %>
      </div>
    <% end %>
  </div>
  <div class="modal-footer">
    <%= submit_tag t("observatorio.save"), class: "btn btn-primary btn-sm" %>
    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">
      <%= t("observatorio.cancel") %>
    </button>
  </div>
<% end %>
