<% title display_name(@resource) %>

<div id="show-education-courses" class="show education-courses">
  <%=
    render partial: "modal_form", locals: {
      url: edit_education_course_path(@resource),
      modal_id: "edit-education-course-#{@resource.id}",
      modal_title: @resource.class.human_attribute_name(:edit)
    }
  %>
  <%=
    render partial: "confirm_delete", locals: {
      record: @resource,
      confirm_message: @resource.class.human_attribute_name(
        :destroy_confirm, record: tag.strong(display_name(@resource))
      ).html_safe,
      modal_id: "destroy-education-course-#{@resource.id}",
      modal_title: @resource.class.human_attribute_name(:destroy)
    }
  %>
  <div class="p-3 my-3 bg-white text-center border-gray border rounded general-infos">
    <div class="text-right p-2 d-none d-md-block">
      <% if can? :update, @resource %>
        <a href='#edit-education-course-<%= @resource.id %>' class='action has-tooltip mx-3' data-toggle="modal"
           data-placement="top" title="<%= @resource.class.human_attribute_name(:edit) %>">
          <%= pencil class: "svg svg-primary", width: "24px", height: "24px" %>
        </a>
      <% end %>
      <% if can? :delete, @resource %>
        <a href="#destroy-education-course-<%= @resource.id %>" class="action has-tooltip mx-1" data-toggle="modal"
           data-placement="top" title="<%= @resource.class.human_attribute_name(:destroy) %>">
          <%= x class: "svg svg-danger", width: "24px", height: "24px" %>
        </a>
      <% end %>
    </div>
    <h2 class="mb-3">
      <span class="badge badge-pill badge-info">
        <%= display_name(@resource) %>
      </span>
    </h2>
    <div class="small text-muted">
      <%= @resource.class.human_attribute_name(:created_at) %>:
      <%= display_time(@resource.created_at) %>
    </div>
    <div class="small text-muted">
      <%= @resource.class.human_attribute_name(:updated_at) %>:
      <%= display_time(@resource.updated_at) %>
    </div>
  </div>

  <!-- History -->
  <%=
    render partial: "subsection", locals: {
      subsection_title: @resource.class.human_attribute_name(:history),
      subsection_id: "history-subsection",
      subsection_class: "history",
      resource: @resource,
      refresh_element_url: history_education_course_path(@resource)
    }
  %>
</div>
