<div class="modal-body">
  <%= t("observatorio.models.event_role.destroyed",
        role: tag.strong(display_name(@resource))).html_safe %>
</div>
<div class="modal-footer">
  <%= link_to t("observatorio.dialog.ok"), event_roles_path,
        class: "btn btn-primary btn-sm"%>
</div>
