<div class="modal-body">
  <%= t("observatorio.models.event.created",
        event: tag.strong(display_name(@resource))).html_safe %>
</div>
<div class="modal-footer">
  <%= link_to t("observatorio.dialog.ok"), event_path(@resource),
        class: "btn btn-primary btn-sm"%>
</div>
