<div class="modal-body">
  <%= t("observatorio.models.event.destroyed",
        event: tag.strong(display_name(@resource))).html_safe %>
</div>
<div class="modal-footer">
  <%= link_to t("observatorio.dialog.ok"), events_path,
        class: "btn btn-primary btn-sm"%>
</div>
