<%= form_for @resource, html: { :"data-init" => "initEventForm" } do |f| %>
  <div class="modal-body">
    <div class="form-group row">
      <% name_error = @resource.errors[:name]&.first  %>
      <%= label_tag "event[name]",
            @resource.class.human_attribute_name(:name), class: "col-3" %>
      <%= text_field_tag "event[name]", @resource.name,
            :"data-autofocus" => true, required: true, autocomplete: "off",
            class: "form-control form-control-sm col-8 #{"is-invalid" if name_error }" %>
      <% if name_error %>
        <div class="invalid-feedback">
          <div class="row">
            <div class="col-8 offset-3">
              <%= name_error %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="form-group date-boundaries-group row">
      <% started_at_error = @resource.errors[:started_at]&.first %>
      <%= label_tag "event[started_at]",
            @resource.class.human_attribute_name(:started_at), class: "col-3" %>
      <%= hidden_field_tag "event[started_at]", @resource.started_at %>
      <%= date_field_tag "event[started_at_date]",
            display_date(@resource.started_at_in_time_zone),
            class: "form-control form-control-sm col-5 #{"is-invalid" if started_at_error}" %>
      <%= text_field_tag "event[started_at_time]",
            display_time_in_day(@resource.started_at_in_time_zone), placeholder: "hh:mm",
            class: "form-control form-control-sm col-2 ml-1 timepicker #{"is-invalid" if started_at_error}" %>
      <% if started_at_error %>
        <div class="invalid-feedback">
          <div class="row">
            <div class="col-8 offset-3">
              <%= started_at_error %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="form-group date-boundaries-group row">
      <% finished_at_error = @resource.errors[:finished_at]&.first %>
      <%= label_tag "event[finished_at]",
            @resource.class.human_attribute_name(:finished_at), class: "col-3" %>
      <%= hidden_field_tag "event[finished_at]", @resource.finished_at %>
      <%= date_field_tag "event[finished_at_date]",
            display_date(@resource.finished_at_in_time_zone),
            class: "form-control form-control-sm col-5 #{"is-invalid" if finished_at_error}" %>
      <%= text_field_tag "event[finished_at_time]",
            display_time_in_day(@resource.finished_at_in_time_zone), placeholder: "hh:mm",
            class: "form-control form-control-sm col-2 ml-1 timepicker #{"is-invalid" if finished_at_error}" %>
      <% if finished_at_error %>
        <div class="invalid-feedback">
          <div class="row">
            <div class="col-8 offset-3">
              <%= finished_at_error %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="form-group row">
      <% time_zone_error = @resource.errors[:time_zone]&.first  %>
      <%= label_tag "event[time_zone]",
            @resource.class.human_attribute_name(:time_zone), class: "col-3" %>
      <%= select_tag "event[time_zone]",
            options_for_select([nil] + time_zone_options, @resource.time_zone),
            class: "col-8 form-control form-control-sm #{"is-invalid" if time_zone_error}",
            required: true %>
      <% if time_zone_error %>
        <div class="invalid-feedback">
          <div class="row">
            <div class="col-8 offset-3">
              <%= time_zone_error %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <fieldset class="form-group">
      <div class="row">
        <%= label_tag "event[approximate_dates]",
              @resource.class.human_attribute_name(:approximate_dates), class: "col-3" %>
        <div class="form-control-sm form-control-check col-8">
          <div class="form-check">
            <input class="form-check-input" type="radio"
                   name="event[approximate_dates]" required
                   id="approximateDatesYes" value="1"
                   <%= "checked" if @resource.approximate_dates %>>
            <label class="form-check-label" for="approximateDatesYes">
              <%= t("observatorio.true") %>
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio"
                   name="event[approximate_dates]" required
                   id="approximateDatesNo" value="0"
                   <%= "checked" unless @resource.approximate_dates %>>
            <label class="form-check-label" for="approximateDatesNo">
              <%= t("observatorio.false") %>
            </label>
          </div>
        </div>
      </div>
    </fieldset>
    <div class="border-bottom pb-2 mb-2">
      <%= @resource.class.human_attribute_name(:location) %>
    </div>
    <div class="form-group location-group small">
      <%= f.hidden_field :location_id,
            :"data-geocoding-placeholder" => t("observatorio.search.placeholder"),
            :"data-locations-path" => reverse_geocode_locations_path %>
      <% if @resource.location %>
        <div class="form-check mb-1">
          <%= radio_button_tag "location_radio", @resource.location_id, true,
                id: "eventLocation", required: true, class: "form-check-input" %>
          <label class="form-check-label" for="eventLocation">
            <%= truncated_address(@resource.location) %>
          </label>
        </div>
      <% end %>
      <div class="form-check mb-1">
        <%= radio_button_tag "location_radio", nil, false,
              id: "searchLocation", required: true,
              class: "form-check-input location-search" %>
        <label class="form-check-label" for="searchLocation">
          <%= @resource.class.human_attribute_name(:location_search) %>
        </label>
      </div>
      <div class="map-container mt-2" id='<%= SecureRandom.uuid %>'>
      </div>
      <div class="form-check mb-1">
        <%= radio_button_tag "location_radio", nil, @resource.location_id.nil?,
              class: "form-check-input", required: true, id: "nullLocation" %>
        <label class="form-check-label" for="nullLocation">
          <%= @resource.class.human_attribute_name(:location_null) %>
        </label>
      </div>
    </div>
    <div class="border-bottom pb-2 mb-3">
      <%= @resource.class.human_attribute_name(:tags) %>
    </div>
    <div class="form-group">
      <%= hidden_field_tag "event[tag_ids][]" %>
      <% checked_class = "btn-info" %>
      <% unchecked_class = "btn-outline-info" %>
      <% if can? :list, OrganizationTag %>
        <% EventTag.all.each do |tag| %>
          <% input_id = "event_tag_ids_#{tag.id}" %>
          <% checked = @resource.tag_ids.include?(tag.id) %>
          <label for="<%= input_id %>"
                 class="checkbox btn <%= checked ? checked_class : unchecked_class %> btn-sm"
                 data-checked-class="<%= checked_class %>"
                 data-unchecked-class="<%= unchecked_class %>">
            <%= check_box_tag "event[tag_ids][]", tag.id, checked, id: input_id %>
            <%= tag.name %>
          </label>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="modal-footer">
    <%= submit_tag t("observatorio.save"), class: "btn btn-primary btn-sm" %>
    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">
      <%= t("observatorio.cancel") %>
    </button>
  </div>
<% end %>
