<% item = version.item_state(belongs_to: true) %>
<% item_klass = version.item_klass %>
<% event = version.event %>
<div class="media item">
  <div class="media-body mb-0 mt-0 mb-2">
    <div class="d-inline-block main">
      <strong class="mb-md-0">
        <%= display_time(version.created_at) %>
      </strong>
      &middot;
      <%= display_user(version.user) %>
    </div>
    <span class="ml-2 d-block">
      <% if @resource == item %>
        <%= t("paper_trail.link.#{event}").html_safe %>
      <% else %>
        <%
          display_link = tag.strong(
            link_to(item.label, link_path(item, origin: {
              id: @resource.id,
              controller: @resource.class.name.pluralize.underscore
            }))
          )
        %>
        <% case item.linkable %>
        <% when Education %>
          <span class="student-only">
            <%= t("paper_trail.education.student.source.#{event}",
                  link: display_link,
                  school: tag.strong(display_resource(item.linkable.school))).html_safe %>
          </span>
          <span class="school-only">
            <%= t("paper_trail.education.school.source.#{event}",
                  link: display_link,
                  student: tag.strong(display_resource(item.linkable.student))).html_safe %>
          </span>
        <% when EventParticipant %>
          <span class="participant-only">
            <%= t("paper_trail.event_participant.participant.source.#{event}",
                  link: display_link,
                  event: tag.strong(display_resource(item.linkable.event))).html_safe %>
          </span>
          <span class="event-only">
            <%= t("paper_trail.event_participant.event.source.#{event}",
                  link: display_link,
                  participant: tag.strong(display_resource(item.linkable.participant))).html_safe %>
          </span>
        <% when OrganizationMember %>
          <span class="member-only">
            <%= t("paper_trail.organization_member.member.source.#{event}",
                  link: display_link,
                  organization: tag.strong(display_resource(item.linkable.organization))).html_safe %>
          </span>
          <span class="organization-only">
            <%= t("paper_trail.organization_member.organization.source.#{event}",
                  link: display_link,
                  member: tag.strong(display_resource(item.linkable.member))).html_safe %>
          </span>
        <% when OrganizationOwner %>
          <% if @resource == item.linkable.owner %>
            <%= t("paper_trail.organization_owner.owner.source.#{event}",
                  link: display_link,
                  organization: tag.strong(display_resource(item.linkable.organization))).html_safe %>
          <% else %>
            <%= t("paper_trail.organization_owner.organization.source.#{event}",
                  link: display_link,
                  owner: tag.strong(display_resource(item.linkable.owner))).html_safe %>
          <% end %>
        <% when Relationship %>
          <%= t("paper_trail.relationship.source.#{event}",
                link: display_link,
                with: tag.strong(display_resource(item.linkable.with))).html_safe %>
        <% else %>
          <%= t("paper_trail.#{item.linkable_type.underscore}.link.#{event}",
                link: display_link).html_safe %>
        <% end %>
      <% end %>
      <% if event != "destroy" %>
        <a class="btn btn-info small btn-sm py-0 px-1 ml-1"
           data-toggle="collapse"
           href="#details<%= version.id %>"
           role="button"
           aria-expanded="false"
           aria-controls="details">
           <%= t("paper_trail.details") %>
        </a>
      <% end %>
    </span>
    <% if event != "destroy" %>
      <div class="collapse small" id="details<%= version.id %>">
        <ul class="mt-1 mb-0 pl-4" style="list-style-type: none">
          <% if version.converted_changeset.key?("label") %>
            <li>
              <strong><%= Link.human_attribute_name(:label) %>:</strong>
              <%= Differ.diff_by_word(
                    *version.converted_changeset["label"].reverse
                  ).format_as(:html).html_safe %>
            </li>
          <% end %>
          <% if version.converted_changeset.key?("url") %>
            <li>
              <strong><%= Link.human_attribute_name(:url) %>:</strong>
              <%= Differ.diff_by_line(
                    *version.converted_changeset["url"].reverse
                  ).format_as(:html).html_safe %>
            </li>
          <% end %>
          <% if version.converted_changeset.key?("description") %>
            <li>
              <strong><%= Link.human_attribute_name(:description) %>:</strong>
              <%= Differ.diff_by_line(
                    *version.converted_changeset["description"].reverse
                  ).format_as(:html).html_safe %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
