<% title display_name(@resource) %>

<div id="link-<%= @resource.id %>" class="show links">
  <%=
    render partial: "modal_form", locals: {
      url: edit_link_path(@resource),
      modal_id: "edit-link-#{@resource.id}",
      modal_title: @resource.class.human_attribute_name(:edit)
    }
  %>
  <%=
    render partial: "confirm_delete", locals: {
      record: @resource,
      confirm_message: @resource.class.human_attribute_name(
        :destroy_confirm, record: tag.strong(display_name(@resource))
      ).html_safe,
      url: link_path(@resource, origin: origin_params),
      modal_id: "destroy-link-#{@resource.id}",
      modal_title: @resource.class.human_attribute_name(:destroy)
    }
  %>
  <!-- Back link -->
  <div class="pt-2 pl-1">
    <strong>
      <a href="<%= url_for(origin_params) %>" class="btn-back">
        <%= arrow_left(class: "svg svg-primary d-inline mr-1") %><%= t("observatorio.back") %>
      </a>
    </strong>
  </div>
  <!-- General information -->
  <div class="mt-2 mb-3 bg-white text-left border-gray border rounded general-infos">
    <div class="p-3 bg-light border-bottom d-inline-block subsection">
      <span class="float-left mr-2">
        <h4 class="m-0"><%= Link.model_name.human %></h4>
      </span>
      <div class="text-right d-none d-md-block">
        <% if can? :update, @resource %>
          <a href='#edit-link-<%= @resource.id %>'
             class='action has-tooltip mx-2 pt-1' data-toggle="modal"
             data-placement="top" title="<%= @resource.class.human_attribute_name(:edit) %>">
            <%= pencil class: "svg svg-primary", width: "24px", height: "24px" %>
          </a>
        <% end %>
        <% if can? :delete, @resource %>
          <a href='#destroy-link-<%= @resource.id %>'
             class='action has-tooltip mx-2 pt-1' data-toggle="modal"
             data-placement="top" title="<%= @resource.class.human_attribute_name(:destroy) %>">
            <%= x class: "svg svg-danger", width: "24px", height: "24px" %>
          </a>
        <% end %>
      </div>
    </div>
    <div class="p-3">
      <div class="p-4 loading loading-link position-absolute" style="display: none">
        <div class="spinner-border" role="status">
          <span class="sr-only"><%= t("observatorio.loading") %></span>
        </div>
      </div>
      <div class="link-content" data-url="<%= link_path(@resource) %>">
        <div>
          <strong><%= Link.human_attribute_name(:label) %>:</strong>
          <span class="link-label"><%= @resource.label %></span>
        </div>
        <div>
          <strong><%= Link.human_attribute_name(:url) %>:</strong>
          <span><%= @resource.url %></span>
        </div>
        <div>
          <strong><%= Link.human_attribute_name(:visited_at) %>:</strong>
          <span><%= display_time(@resource.visited_at) %></span>
        </div>
        <div class="mt-2 link-description">
          <%= @resource.description.gsub(/\n/, '<br/>').html_safe if @resource.description %>
        </div>
      </div>
    </div>
  </div>
  <!-- Content -->
  <div class="p-3 my-3 bg-white border-gray border rounded ">
    <% if @resource.content_forbidden? %>
      <strong>
        <%= @resource.class.human_attribute_name(:content_forbidden) %>
      </strong>
    <% elsif @resource.ignore_content? %>
      <strong>
        <%= @resource.class.human_attribute_name(:content_ignored) %>
      </strong>
    <% else %>
      <div class="mb-2">
        <strong>
          <a href="<%= download_link_path(@resource) %>"
             class="btn btn-sm btn-primary" >
            <%= download(class: "svg svg-white d-inline mr-2") %><%= Link.human_attribute_name(:download) %>
          </a>
        </strong>
      </div>
      <div class="small pl-1">
        <strong><%= Link.human_attribute_name(:content_extension) %>:</strong>
        <span><%= @resource.content_extension %></span>
      </div>
      <div class="small pl-1">
        <strong><%= Link.human_attribute_name(:content_size) %>:</strong>
        <span><%= number_to_human_size(@resource.content_size) %></span>
      </div>
      <div class="small pl-1">
        <strong><%= Link.human_attribute_name(:content_md5_hex) %>:</strong>
        <span><%= @resource.content_md5_hex %></span>
      </div>
      <div class="small pl-1">
        <strong><%= Link.human_attribute_name(:content_sha2_hex) %>:</strong>
        <span><%= @resource.content_sha2_hex %></span>
      </div>
      <% if @resource.content_html? %>
        <div class="border bg-light rounded mt-2">
          <iframe class="iframe-resize d-none" width="100%"
                  src='<%= download_link_path(@resource) %>'>
          </iframe>
        </div>
      <% elsif @resource.content_pdf? %>
        <div class="border bg-light rounded mt-2">
          <nav class="py-3 border-bottom">
            <ul class="pagination pagination-sm mb-0 text-center">
              <li class="page-item ml-auto mr-1 pdf-previous disabled">
                <a class="page-link" href="#">
                  <%= Link.human_attribute_name(:previous_page) %>
                </a>
              </li>
              <li class="page-item mr-auto ml-1 pdf-next disabled">
                <a class="page-link" href="#">
                  <%= Link.human_attribute_name(:next_page) %>
                </a>
              </li>
            </ul>
          </nav>
          <canvas class="pdf-container bg-white"
                  data-pdf-url="<%= download_link_path(@resource) %>">
          </canvas>
        </div>
      <% elsif @resource.content_image? %>
        <div class="border bg-light rounded mt-2">
          <img class="mx-auto d-block"
               style="max-width: 100%"
               alt="<%= @resource.label %>"
               src="<%= download_link_path(@resource) %>">
        </div>
      <% elsif @resource.content_video? %>
        <div class="border bg-light lazyload-video text-center rounded mt-2"
             style="max-height: 200px">
          <div class="mx-auto bg-dark
                      lazyload-video-placeholder"
               style="width: 350px; height: 200px; padding-top: 75px">
            <div class="text-center loading position-absolute" \
                 style="display: none; padding-left: 157.5px; padding-top: 7.5px">
              <div class="spinner-border text-white" role="status"
                   style="width: 35px; height: 35px">
                <span class="sr-only"><%= t("observatorio.loading") %></span>
              </div>
            </div>
            <%= play class: "svg svg-white rounded-circle bg-danger mx-auto py-3 pl-1",
                     width: "50px", height: "50px" %>
          </div>
          <video class="mx-auto bg-white"
                 style="max-height: 200px; display: none"
                 controls="controls"
                 data-mime="<%= @resource.content_mime_type %>" >
            <source data-src="<%= download_link_path(@resource) %>" src="">
          </video>
        </div>
      <% elsif @resource.content_audio? %>
        <div class="mt-2">
          <audio class="w-100" controls>
            <source src="<%= download_link_path(@resource) %>">
          </audio>
        </div>
      <% elsif @resource.content_text? %>
        <div class="border bg-light rounded mt-2 p-2 text-monospace">
          <%= @resource.content_decrypted.read.gsub("\n", "</br>").html_safe %>
        </div>
      <% end %>
    <% end %>
  </div>

  <!-- History -->
  <%=
    render partial: "subsection", locals: {
      subsection_title: @resource.class.human_attribute_name(:history),
      subsection_id: "history-subsection",
      subsection_class: "history",
      resource: @resource,
      refresh_element_url: history_link_path(@resource)
    }
  %>
</div>
