<div id="organization_owner-<%= organization_owner.id %>">
  <div class="refreshable"
       data-refresh="<%= organization_owner_path(organization_owner, origin: origin_params) %>">
    <div class="text-center loading position-absolute pl-5 pt-2" \
         style="display: none">
      <div class="spinner-border" role="status">
        <span class="sr-only"><%= t("observatorio.loading") %></span>
      </div>
    </div>
    <div class="content">
      <%=
        render partial: "modal_form", locals: {
          url: edit_organization_owner_path(organization_owner),
          modal_id: "edit-organization-owner-#{organization_owner.id}-owner",
          modal_title: OrganizationOwner.human_attribute_name(:owner_edit)
        }
      %>
      <%=
        render partial: "modal_form", locals: {
          url: edit_organization_owner_path(organization_owner),
          modal_id: "edit-organization-owner-#{organization_owner.id}-organization",
          modal_title: OrganizationOwner.human_attribute_name(:organization_edit)
        }
      %>
      <%=
        render partial: "confirm_delete", locals: {
          record: organization_owner,
          confirm_message: OrganizationOwner.human_attribute_name(
            :owner_destroy_confirm,
            organization: tag.strong(display_name(organization_owner.organization))
          ).html_safe,
          modal_id: "destroy-organization-owner-#{organization_owner.id}-owner",
          modal_title: OrganizationOwner.human_attribute_name(:owner_destroy)
        }
      %>
      <%=
        render partial: "confirm_delete", locals: {
          record: organization_owner,
          confirm_message: OrganizationOwner.human_attribute_name(
            :organization_destroy_confirm,
            owner: tag.strong(display_name(organization_owner.owner))
          ).html_safe,
          modal_id: "destroy-organization-owner-#{organization_owner.id}-organization",
          modal_title: OrganizationOwner.human_attribute_name(:organization_destroy)
        }
      %>
      <%=
        render partial: "modal_form", locals: {
          url: new_link_path(link: {
            linkable_id: organization_owner.id, linkable_type: OrganizationOwner
          }),
          modal_id: "add-source-#{organization_owner.id}",
          modal_title: OrganizationOwner.human_attribute_name(:new_source)
        }
      %>
      <%=
        render partial: "modal_form", locals: {
          url: new_attachment_path(attachment: {
            attachable_id: organization_owner.id, attachable_type: OrganizationOwner
          }),
          modal_id: "add-attachment-#{organization_owner.id}",
          modal_title: OrganizationOwner.human_attribute_name(:new_attachment)
        }
      %>
      <% organization_owner.sources.each do |link| %>
        <%=
          render partial: "modal_form", locals: {
            url: edit_link_path(link),
            modal_id: "edit-link-#{link.id}",
            modal_title: Link.human_attribute_name(:edit)
          }
        %>
        <%=
          render partial: "confirm_delete", locals: {
            record: link,
            confirm_message: Link.human_attribute_name(
              :destroy_confirm, record: tag.strong(display_name(link))
            ).html_safe,
            modal_id: "destroy-link-#{link.id}",
            modal_title: Link.human_attribute_name(:destroy)
          }
        %>
      <% end %>
      <% organization_owner.attachments.each do |attachment| %>
        <%=
          render partial: "modal_form", locals: {
            url: edit_attachment_path(attachment),
            modal_id: "edit-attachment-#{attachment.id}",
            modal_title: Attachment.human_attribute_name(:edit)
          }
        %>
        <%=
          render partial: "confirm_delete", locals: {
            record: attachment,
            confirm_message: Attachment.human_attribute_name(
              :destroy_confirm, record: tag.strong(display_name(attachment))
            ).html_safe,
            modal_id: "destroy-attachment-#{attachment.id}",
            modal_title: Attachment.human_attribute_name(:destroy)
          }
        %>
      <% end %>
      <div class="media item">
        <div class="d-none d-md-inline mr-2 owner-only">
          <%= image_tag organization_owner.organization.picture&.thumb&.url || image_path("open-iconic/home.svg"),
                class:"rounded-circle thumb main" %>
        </div>
        <div class="d-none d-md-inline mr-2 organization-only">
          <% fallback_image = organization_owner.owner.is_a?(Person) ?
              "open-iconic/person.svg" : "open-iconic/home.svg" %>
          <%= image_tag organization_owner.owner.picture&.thumb&.url || image_path(fallback_image),
                class:"rounded-circle thumb main" %>
        </div>
        <div class="media-body mb-0 pb-2">
          <div class="d-inline-block">
            <span class="float-left mr-2">
              <strong class="mb-2 mb-md-0 owner-only">
                <%= display_resource(organization_owner.organization) %>
              </strong>
              <strong class="mb-2 mb-md-0 organization-only">
                <%= display_resource(organization_owner.owner) %>
              </strong>
            </span>
            <div class="d-none d-md-inline-block owner-only">
              <% if can? :update, organization_owner %>
                <a href="#edit-organization-owner-<%= organization_owner.id %>-owner"
                   class="action has-tooltip"
                   data-toggle="modal"
                   data-placement="top"
                   title="<%= OrganizationOwner.human_attribute_name(:owner_edit) %>">
                  <%= image_tag image_path("open-iconic/pencil.svg") %>
                </a>
              <% end %>
              <% if can? :delete, organization_owner %>
                <a href="#destroy-organization-owner-<%= organization_owner.id %>-owner"
                   class="action has-tooltip"
                   data-toggle="modal"
                   data-placement="top"
                   title="<%= OrganizationOwner.human_attribute_name(:owner_destroy) %>">
                  <%= image_tag image_path("open-iconic/x.svg") %>
                </a>
              <% end %>
            </div>
            <div class="d-none d-md-inline-block organization-only">
              <% if can? :update, organization_owner %>
                <a href="#edit-organization-owner-<%= organization_owner.id %>-organization"
                   class="action has-tooltip"
                   data-toggle="modal"
                   data-placement="top"
                   title="<%= OrganizationOwner.human_attribute_name(:organization_edit) %>">
                  <%= image_tag image_path("open-iconic/pencil.svg") %>
                </a>
              <% end %>
              <% if can? :delete, organization_owner %>
                <a href="#destroy-organization-owner-<%= organization_owner.id %>-organization"
                   class="action has-tooltip"
                   data-toggle="modal"
                   data-placement="top"
                   title="<%= OrganizationOwner.human_attribute_name(:organization_destroy) %>">
                  <%= image_tag image_path("open-iconic/x.svg") %>
                </a>
              <% end %>
            </div>
          </div>
          <% if organization_owner.portion %>
            <span class="small d-block">
              <strong><%= OrganizationOwner.human_attribute_name(:portion) %>:</strong>
              <%= display_percentage(organization_owner.portion) %> %
            </span>
          <% end %>
          <% if organization_owner.from_date %>
            <span class="small d-block">
              <strong><%= OrganizationMember.human_attribute_name(:from_date) %>:</strong>
              <%= display_time(organization_owner.from_date) %>
              <% if organization_owner.approximate_dates %>
                <strong>*</strong>
              <% end %>
            </span>
          <% end %>
          <% if organization_owner.from_date || organization_owner.to_date %>
            <span class="small d-block">
              <strong><%= OrganizationMember.human_attribute_name(:to_date) %>:</strong>
              <% if organization_owner.to_date %>
                <%= display_time(organization_owner.to_date) %>
                <% if organization_owner.approximate_dates %>
                  <strong>*</strong>
                <% end %>
              <% else %>
                -
              <% end %>
            </span>
          <% end %>
          <% if organization_owner.approximate_dates %>
            <strong class="small">* <%= OrganizationMember.human_attribute_name(:approximate_dates_label) %></strong>
          <% end %>
          <span class="small d-block">
            <strong class="mr-1">
              <%= OrganizationOwner.human_attribute_name(:sources) %>:
            </strong>
            <div class="d-none d-md-inline-block">
              <% if can? :update, organization_owner %>
                <a href="#add-source-<%= organization_owner.id %>"
                   class="action has-tooltip"
                   data-toggle="modal"
                   data-placement="top"
                   title="<%= OrganizationOwner.human_attribute_name(:new_source) %>">
                  <%= image_tag image_path("open-iconic/plus.svg") %>
                </a>
              <% end %>
            </div>
          </span>
          <% organization_owner.sources.each do |link| %>
            <div class="small d-block">
              <span class="float-left mr-2">
                <strong class="ml-3 mr-1 float-left">
                  <%= link_to(link.label, link_path(link, origin: origin_params)) %>
                </strong>
                <div class="small d-inline-block text-truncate float-left has-tooltip"
                     title="<%= link.url %>"
                     style="max-width: 150px; padding-top: 3px">
                  <%= link.url %>
                </div>
              </span>
              <div class="d-none d-md-inline-block">
                <% if can? :update, link %>
                  <a href="#edit-link-<%= link.id %>"
                     class="action has-tooltip"
                     data-toggle="modal"
                     data-placement="top"
                     title="<%= Link.human_attribute_name(:edit) %>">
                    <%= image_tag image_path("open-iconic/pencil.svg") %>
                  </a>
                <% end %>
                <% if can? :delete, link %>
                  <a href="#destroy-link-<%= link.id %>"
                     class="action has-tooltip"
                     data-toggle="modal"
                     data-placement="top"
                     title="<%= Link.human_attribute_name(:destroy) %>">
                    <%= image_tag image_path("open-iconic/x.svg") %>
                  </a>
                <% end %>
              </div>
            </div>
          <% end %>
          <span class="small d-block">
            <strong class="mr-1">
              <%= OrganizationOwner.human_attribute_name(:attachments) %>:
            </strong>
            <div class="d-none d-md-inline-block">
              <% if can? :update, organization_owner %>
                <a href="#add-attachment-<%= organization_owner.id %>"
                   class="action has-tooltip"
                   data-toggle="modal"
                   data-placement="top"
                   title="<%= OrganizationOwner.human_attribute_name(:new_attachment) %>">
                  <%= image_tag image_path("open-iconic/plus.svg") %>
                </a>
              <% end %>
            </div>
          </span>
          <% organization_owner.attachments.each do |attachment| %>
            <div class="small d-block">
              <span class="mr-1">
                <strong class="ml-3">
                  <%= link_to attachment.label, attachment_path(attachment, origin: origin_params) %>
                </strong>
                <span><%= attachment.file_extension %></span>
                <span class="small">(<%= number_to_human_size(attachment.file_size) %>)</span>
              </span>
              <div class="d-none d-md-inline-block">
                <% if can? :update, attachment %>
                  <a href="#edit-attachment-<%= attachment.id %>"
                     class="action has-tooltip"
                     data-toggle="modal"
                     data-placement="top"
                     title="<%= Attachment.human_attribute_name(:edit) %>">
                    <%= image_tag image_path("open-iconic/pencil.svg") %>
                  </a>
                <% end %>
                <% if can? :delete, attachment %>
                  <a href="#destroy-attachment-<%= attachment.id %>"
                     class="action has-tooltip"
                     data-toggle="modal"
                     data-placement="top"
                     title="<%= Attachment.human_attribute_name(:destroy) %>">
                    <%= image_tag image_path("open-iconic/x.svg") %>
                  </a>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
