<div class="modal-body owner-only">
  <%= t("observatorio.models.organization_owner.owner.updated",
        organization: tag.strong(display_name(@resource.organization))).html_safe %>
</div>
<div class="modal-body organization-only">
  <%= t("observatorio.models.organization_owner.organization.updated",
        owner: tag.strong(display_name(@resource.owner))).html_safe %>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">
    <%= t("observatorio.dialog.ok") %>
  </button>
</div>

<%= hidden_field_tag :refresh_element, "#organization_owner-#{@resource.id}" %>
<%= hidden_field_tag :refresh_element, "#history-subsection" %>
