<%= title t("observatorio.preferences.title") %>

<%= form_tag({ controller: "preferences", action: "update" }, { method: :put, class: "form-devise" }) do %>
  <div class="form-group">
    <% time_zone_error = @resource.errors[:time_zone] && @resource.errors[:time_zone].first %>
    <%= label_tag "user[time_zone]", User.human_attribute_name(:time_zone) %>
    <%= select_tag "user[time_zone]", options_for_select(time_zone_options, @resource.time_zone), class: "form-control #{"is-invalid" if time_zone_error}" %>
    <% if time_zone_error %>
      <div class="invalid-feedback">
        <%= time_zone_error %>
      </div>
    <% end %>
  </div>
  <div class="control-group">
    <%= submit_tag t('observatorio.preferences.update'), class: "btn btn-primary btn-block" %>
  </div>
<% end %>
