<div class="modal-body member-only">
  <%= t("observatorio.models.organization_member.member.created",
        organization: tag.strong(display_name(@resource.organization))).html_safe %>
</div>
<div class="modal-body school-only">
  <%= t("observatorio.models.organization_member.organization.created",
        member: tag.strong(display_name(@resource.member))).html_safe %>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">
    <%= t("observatorio.dialog.ok") %>
  </button>
</div>

<%= hidden_field_tag :refresh_element, refresh_element %>
<%= hidden_field_tag :refresh_element, "#history-subsection" %>
<% if @resource.department_id? %>
  <%= hidden_field_tag :refresh_element, "#members-#{@resource.department_id}" %>
<% else %>
  <%= hidden_field_tag :refresh_element, "#other-members-subsection" %>
<% end %>
