<div class="modal-body member-only">
  <%= t("observatorio.models.organization_member.member.updated",
        organization: tag.strong(display_name(@resource.organization))).html_safe %>
</div>
<div class="modal-body organization-only">
  <%= t("observatorio.models.organization_member.organization.updated",
        member: tag.strong(display_name(@resource.member))).html_safe %>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">
    <%= t("observatorio.dialog.ok") %>
  </button>
</div>

<% if @resource.saved_changes.key?("department_id") %>
  <% @resource.saved_changes["department_id"].each do |value| %>
    <% refresh_element = value.nil? ?
         "#other-members-subsection" : "#members-#{value}" %>
    <%= hidden_field_tag :refresh_element, refresh_element %>
  <% end %>
<% else %>
  <%= hidden_field_tag :refresh_element, "#organization_member-#{@resource.id}" %>
<% end %>

<%= hidden_field_tag :refresh_element, ".people #organization_member-#{@resource.id}" %>
<%= hidden_field_tag :refresh_element, "history-subsection" %>
