<%= form_for @resource, html: { :"data-init" => "initPictureForm" } do |f| %>
  <%= f.hidden_field :picturable_id %>
  <%= f.hidden_field :picturable_type %>
  <div class="modal-body">
    <% url_error = @resource.errors[:source_url]&.first %>
    <% file_error = @resource.errors[:file]&.first %>
    <% if @resource.new_record? %>
      <div class="mb-3">
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="fileRadio" value="file" required
                 name="pictureType" class="custom-control-input"
                <%= "checked='checked'" if @resource.source_url.nil? && file_error.present? %>>
          <label class="custom-control-label" for="fileRadio">
            <%= @resource.class.human_attribute_name(:file) %>
          </label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="urlRadio" value="url" required
                 name="pictureType" class="custom-control-input"
                 <%= "checked='checked'" unless @resource.source_url.nil? %>>
          <label class="custom-control-label" for="urlRadio">
            <%= @resource.class.human_attribute_name(:source_url) %>
          </label>
        </div>
      </div>
      <div class="custom-file mb-4 file-group"
           <%= "style='display: none'".html_safe unless @resource.source_url.nil? &&
                                                          file_error.present? %>>
        <%= file_field_tag "picture[file]", accept: "image/*",
              class: "custom-file-input #{"is-invalid" if file_error && !url_error}" %>
        <%= label_tag "picture[file]",
              @resource.class.human_attribute_name(:file_browse),
              class: "custom-file-label",
              :"data-browse" => t("observatorio.browse") %>
        <% if file_error && !url_error %>
          <div class="invalid-feedback">
            <%= file_error %>
          </div>
        <% end %>
      </div>
      <div class="form-group row url-group"
           <%= "style='display: none'".html_safe if @resource.source_url.nil? %>>
        <%= label_tag "picture[source_url]", @resource.class.human_attribute_name(:source_url),
              class: "col-3" %>
        <%= text_field_tag "picture[source_url]", @resource.source_url,
              disabled: file_error.present? && !url_error.present?,
              class: "form-control form-control-sm col-8 #{"is-invalid" if url_error }" %>
        <% if url_error %>
          <div class="invalid-feedback">
            <div class="row">
              <div class="col-8 offset-3">
                <%= url_error %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
    <% if @resource.new_record? || @resource.source_url.nil? %>
      <div class="form-group row source-group"
           <%= "style='display: none'".html_safe if @resource.source_url.present? ||
                                                      !@resource.source_url.nil? ||
                                                      (!@resource.file.present? && !file_error.present?) %>>
        <% source_error = @resource.errors[:source_text]&.first  %>
        <%= label_tag "picture[source_text]", @resource.class.human_attribute_name(:source),
              class: "col-3" %>
        <%= text_field_tag "picture[source_text]", @resource.source_text,
              class: "form-control form-control-sm col-8 #{"is-invalid" if source_error }" %>
        <% if source_error %>
          <div class="invalid-feedback">
            <div class="row">
              <div class="col-8 offset-3">
                <%= source_error %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
    <div class="form-group row author-group"
         <%= "style='display: none'".html_safe if @resource.source_url.nil? &&
                                                    (!@resource.file.present? && !file_error.present?)  %>>
      <% author_error = @resource.errors[:author]&.first  %>
      <%= label_tag "picture[author]", @resource.class.human_attribute_name(:author),
            class: "col-3" %>
      <%= text_field_tag "picture[author]", @resource.author,
            class: "form-control form-control-sm col-8 #{"is-invalid" if author_error }" %>
      <% if author_error %>
        <div class="invalid-feedback">
          <div class="row">
            <div class="col-8 offset-3">
              <%= author_error %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="form-group row license-group"
         <%= "style='display: none'".html_safe if @resource.source_url.nil? &&
                                                    (!@resource.file.present? && !file_error.present?) %>>
      <% license_error = @resource.errors[:license]&.first  %>
      <%= label_tag "picture[license]", @resource.class.human_attribute_name(:license),
            class: "col-3" %>
      <%= text_field_tag "picture[license]", @resource.license,
            class: "form-control form-control-sm col-8 #{"is-invalid" if license_error }" %>
      <% if license_error %>
        <div class="invalid-feedback">
          <div class="row">
            <div class="col-8 offset-3">
              <%= license_error %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="modal-footer">
    <%= submit_tag t("observatorio.save"), class: "btn btn-primary btn-sm" %>
    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">
      <%= t("observatorio.cancel") %>
    </button>
  </div>
<% end %>
