<div class="refreshable mb-2 picture"
     data-refresh="<%= request.original_fullpath %>">
  <div class="loading loading-picture text-center" style="display: none">
    <div class="spinner-border" role="status">
      <span class="sr-only"><%= t("observatorio.loading") %></span>
    </div>
  </div>
  <div class="content">
    <% picturable_id = params.require(:picture)[:picturable_id] %>
    <% picturable_type = params.require(:picture)[:picturable_type] %>
    <% if @resources.empty? %>
      <%=
        render partial: "modal_form", locals: {
          url: new_picture_path(
            picture: {
              picturable_id: picturable_id,
              picturable_type: picturable_type
            }
          ),
          modal_id: "new-picture",
          modal_title: Picture.human_attribute_name(:new_record)
        }
      %>
      <div class="text-right d-none d-md-block">
        <% if can? :create, Picture.new(picturable_id: picturable_id, picturable_type: picturable_type) %>
          <a href='#new-picture'
             class='action has-tooltip mr-4' data-toggle="modal"
             data-placement="top" title="<%= Picture.human_attribute_name(:new_record) %>">
            <%= image_tag image_path("open-iconic/plus.svg") %>
          </a>
        <% end %>
      </div>
      <div class="text-center">
        <%= image_tag picture_placeholder_url,
              class: "rounded-circle picture-index" %>
      </div>
    <% else %>
      <% picture = @resources.first %>
      <%=
        render partial: "modal_show", locals: {
          url: picture_path(picture),
          modal_id: "show-picture-#{picture.id}",
          modal_title: picture.class.model_name.human
        }
      %>
      <%=
        render partial: "modal_form", locals: {
          url: edit_picture_path(picture),
          modal_id: "edit-picture-#{picture.id}",
          modal_title: Picture.human_attribute_name(:edit)
        }
      %>
      <%=
        render partial: "confirm_delete", locals: {
          record: picture,
          confirm_message: picture.class.human_attribute_name(:destroy_confirm),
          url: picture_path(picture),
          modal_id: "destroy-picture-#{picture.id}",
          modal_title: picture.class.human_attribute_name(:destroy)
        }
      %>
      <div class="text-right d-none d-md-block">
        <% if can? :update, picture %>
          <a href='#edit-picture-<%= picture.id %>'
             class='action has-tooltip mx-1' data-toggle="modal"
             data-placement="top" title="<%= picture.class.human_attribute_name(:edit) %>">
            <%= image_tag image_path("open-iconic/pencil.svg") %>
          </a>
        <% end %>
        <% if can? :delete, picture %>
          <a href="#<%= "destroy-picture-#{picture.id}"  %>"
             class="action has-tooltip" data-toggle="modal"
             data-placement="top" title="<%= picture.class.human_attribute_name(:destroy) %>">
            <%= image_tag image_path("open-iconic/x.svg") %>
          </a>
        <% end %>
      </div>
      <div class="text-center">
        <a href="#show-picture-<%= picture.id %>"
           data-toggle="modal" class="mx-4">
          <%= image_tag picture_display_url(picture), class: "rounded-circle picture-index" %>
        </a>
      </div>
    <% end %>
  </div>
</div>
