<div class="modal-body organization-only">
  <%= t("observatorio.models.organization_department.destroyed",
        department: tag.strong(display_name(@resource))).html_safe %>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">
    <%= t("observatorio.dialog.ok") %>
  </button>
</div>

<%= hidden_field_tag :refresh_element, "#organization-department-#{@resource.id}" %>
<%= hidden_field_tag :refresh_element, "#history-subsection" %>
