.form-devise {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  .devise-links {
    text-align: right;
    margin-top: 10px;
    font-size: 14px;
  }
}

@media (min-width: 576px) {
  .form-devise {
    margin: 100px auto;
  }
}
