//
// Main navbar
//
.navbar {
  background-color: #563d7c;
  .navbar-brand {
    color: #cbbde2;
    font-weight: bold;
  }
  .navbar-left {
    .nav-item {
      a {
        color: #cbbde2;
      }
      .dropdown-item {
        color: #000000 !important;
        &.active {
          color: #FFFFFF !important;
        }
      }
      &:hover, &:focus, &.active {
        a {
          color: #FFF;
        }
      }
    }
  }
  .navbar-toggler {
    border-color: rgba(255,255,255,.1);
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
}
