<% title Organization.model_name.human(count: 2) %>

<div id="index-organizations" class="index organizations">
  <div class="p-3 my-3 bg-white border-gray border rounded">
    <h5 class="pb-2">
      <%= t("observatorio.search.title") %>
    </h5>
    <%= form_tag({ controller: "organizations", action: "index" }, method: :get) do %>
      <%= text_field_tag :search, @search, class: "form-control form-control-sm" %>
      <div class="text-right mt-3">
        <%= submit_tag t("observatorio.search.submit"), class: "btn btn-primary btn-sm" %>
        <%= link_to t("observatorio.search.clean_filters"), organizations_path,
              class: "btn btn-secondary btn-sm" %>
      </div>
    <% end %>
  </div>

  <div class="p-3 p-md-3  my-3 bg-white border-gray border rounded">
    <% @resources.each do |organization| %>
      <div class="media search-result mb-2">
        <% if can? :read, organization %>
          <%= link_to image_tag(organization.picture&.thumb&.url || image_path("open-iconic/home.svg"),
                class: "rounded-circle d-none d-md-inline thumb"), url_for(organization) %>
        <% else %>
          <%= image_tag organization.picture&.thumb&.url || image_path("open-iconic/home.svg"),
                class: "rounded-circle d-none d-md-inline thumb" %>
        <% end %>
        <p class="media-body ml-md-3 mb-0 pb-2 pb-md-0">
          <strong class="mr-2">
            <% if can? :read, organization %>
              <%= link_to display_name(organization), url_for(organization) %>
            <% else %>
              <%= display_name(organization) %>
            <% end %>
          </strong>
          <% organization.tags.each do |tag| %>
            <a href='<%= tag_url(tag) %>' class="d-inline-block mr-1">
              <span class="badge badge-pill badge-info">
                <%= tag.name %>
              </span>
            </a>
          <% end %>
        </p>
      </div>
    <% end %>
    <nav class="mt-3">
      <ul class="pagination pagination-sm mb-0">
        <li class="page-item ml-auto <%= "disabled" if @page == 1 %>">
          <a class="page-link" href="<%=
               @page == 1 ? "#" : organizations_path(search: @search, page: @page - 1)
              %>">
            <%= Organization.human_attribute_name(:previous_page) %>
          </a>
        </li>
        <li class="page-item <%= "disabled" if @last_page %>">
          <a class="page-link" href="<%=
               @last_page ? "#" : organizations_path(search: @search, page: @page + 1)
             %>">
            <%= Organization.human_attribute_name(:next_page) %>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
