<%= form_for @resource do |f| %>
  <div class="modal-body">
    <div class="form-group row school-only">
      <% student_id_error = @resource.errors[:student_id]&.first  %>
      <%= label_tag "education[student_id]",
            @resource.class.human_attribute_name(:student), class: "col-3" %>
      <%= select_tag "education[student_id]",
            options_for_select([nil] + people_options, @resource.student_id),
            class: "col-8 form-control form-control-sm #{"is-invalid" if student_id_error}",
            required: true, disabled: @resource.persisted? %>
      <% if student_id_error %>
        <div class="invalid-feedback">
          <div class="row">
            <div class="col-3 offset-3">
              <%= student_id_error %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="form-group row student-only">
      <% school_id_error = @resource.errors[:school_id]&.first  %>
      <%= label_tag "education[school_id]",
            @resource.class.human_attribute_name(:school), class: "col-3" %>
      <%= select_tag "education[school_id]",
            options_for_select([nil] + schools_options, @resource.school_id),
            class: "col-8 form-control form-control-sm #{"is-invalid" if school_id_error}",
            required: true, disabled: @resource.persisted? %>
      <% if school_id_error %>
       <div class="invalid-feedback">
         <div class="row">
           <div class="col-3 offset-3">
             <%= school_id_error %>
           </div>
         </div>
       </div>
      <% end %>
    </div>
    <div class="form-group row">
      <% degree_id_error = @resource.errors[:degree]&.first %>
      <%= label_tag "education[degree_id]",
            @resource.class.human_attribute_name(:degree), class: "col-3" %>
      <%= select_tag "education[degree_id]",
            options_for_select([nil] + degrees_options, @resource.degree_id),
            class: "col-8 form-control form-control-sm #{"is-invalid" if degree_id_error}" %>
      <% if degree_id_error %>
        <div class="invalid-feedback">
          <div class="row">
            <div class="col-8 offset-3">
              <%= degree_id_error %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="form-group row">
      <% course_id_error = @resource.errors[:course]&.first %>
      <%= label_tag "education[course_id]",
            @resource.class.human_attribute_name(:course), class: "col-3" %>
      <%= select_tag "education[course_id]",
            options_for_select([nil] + courses_options, @resource.course_id),
            class: "col-8 form-control form-control-sm #{"is-invalid" if course_id_error}" %>
      <% if course_id_error %>
        <div class="invalid-feedback">
          <div class="row">
            <div class="col-3 offset-3">
              <%= course_id_error %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="form-group date-boundaries-group row">
      <% from_date_error = @resource.errors[:from_date]&.first %>
      <%= label_tag "education[from_date]",
            @resource.class.human_attribute_name(:from_date), class: "col-3" %>
      <%= date_field_tag "education[from_date]", @resource.from_date,
            class: "form-control form-control-sm col-8 #{"is-invalid" if from_date_error}" %>
      <% if from_date_error %>
        <div class="invalid-feedback">
          <div class="row">
            <div class="col-3 offset-3">
              <%= from_date_error %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="form-group date-boundaries-group row">
      <% to_date_error = @resource.errors[:to_date]&.first %>
      <%= label_tag "education[to_date]",
            @resource.class.human_attribute_name(:to_date), class: "col-3" %>
      <%= date_field_tag "education[to_date]", @resource.to_date,
            class: "form-control form-control-sm col-8 #{"is-invalid" if to_date_error}" %>
      <% if to_date_error %>
        <div class="invalid-feedback">
          <div class="row">
            <div class="col-3 offset-3">
              <%= to_date_error %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <fieldset class="form-group">
      <div class="row">
        <%= label_tag "education[approximate_dates]",
              @resource.class.human_attribute_name(:approximate_dates), class: "col-3" %>
        <div class="form-control-sm form-control-check col-8">
          <div class="form-check">
            <input class="form-check-input"
                   type="radio"
                   name='education[approximate_dates]'
                   required
                   id="approximateDatesYes"
                   value="1"
                   <%= "checked" if @resource.approximate_dates %>>
            <label class="form-check-label" for="approximateDatesYes">
              <%= t("observatorio.true") %>
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input"
                   type="radio"
                   name='education[approximate_dates]'
                   required
                   id="approximateDatesNo"
                   value="0"
                   <%= "checked" unless @resource.approximate_dates %>>
            <label class="form-check-label" for="approximateDatesNo">
              <%= t("observatorio.false") %>
            </label>
          </div>
        </div>
      </div>
    </fieldset>
  </div>
  <div class="modal-footer">
    <%= submit_tag t("observatorio.save"), class: "btn btn-primary btn-sm" %>
    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">
      <%= t("observatorio.cancel") %>
    </button>
  </div>
<% end %>
