<% title_id = SecureRandom.uuid %>
<div class="modal fade modal-form-static" id="<%= modal_id %>" tabindex="-1" role="dialog"
     aria-labelledby="<%= title_id %>" aria-hidden="true"
     data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header py-1">
        <h5 class="modal-title" id="<%= title_id %>">
          <%= modal_title %>
        </h5>
      </div>
      <div class="text-center loading" style="display: none">
        <div class="spinner-border" role="status">
          <span class="sr-only"><%= t("observatorio.loading") %></span>
        </div>
      </div>
      <div class="modal-form-content">
        <div class="modal-body">
          <%= confirm_message %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">
            <%= t("observatorio.dialog.no") %>
          </button>
          <%= form_tag local_assigns[:url] || url_for(record), method: :delete do %>
            <%= submit_tag t("observatorio.dialog.yes"), class: "btn btn-danger btn-sm" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
