<div class="modal fade map-modal" id="<%= modal_id %>" tabindex="-1"
     role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header py-1">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <%= image_tag image_path("open-iconic/x.svg") %>
        </button>
      </div>
      <div id="<%= modal_id %>-map-container"
           class="modal-body map-container"
           data-location-path='<%= data_location_path %>'>
      </div>
    </div>
  </div>
</div>
