<div id="event_participant-<%= event_participant.id %>">
  <div class="refreshable"
       data-refresh="<%= event_participant_path(event_participant, origin: origin_params) %>">
    <div class="text-center loading position-absolute pl-5 pt-2" \
         style="display: none">
      <div class="spinner-border" role="status">
        <span class="sr-only"><%= t("observatorio.loading") %></span>
      </div>
    </div>
    <div class="content">
      <%=
        render partial: "modal_form", locals: {
          url: edit_event_participant_path(event_participant),
          modal_id: "edit-event-participant-#{event_participant.id}-participant",
          modal_title: EventParticipant.human_attribute_name(:participant_edit)
        }
      %>
      <%=
        render partial: "modal_form", locals: {
          url: edit_event_participant_path(event_participant),
          modal_id: "edit-event-participant-#{event_participant.id}-event",
          modal_title: EventParticipant.human_attribute_name(:event_edit)
        }
      %>
      <%=
        render partial: "confirm_delete", locals: {
          record: event_participant,
          confirm_message: EventParticipant.human_attribute_name(
            :participant_destroy_confirm,
            event: tag.strong(display_name(event_participant.event))
          ).html_safe,
          modal_id: "destroy-event-participant-#{event_participant.id}-participant",
          modal_title: EventParticipant.human_attribute_name(:participant_destroy)
        }
      %>
      <%=
        render partial: "confirm_delete", locals: {
          record: event_participant,
          confirm_message: EventParticipant.human_attribute_name(
            :event_destroy_confirm,
            participant: tag.strong(display_name(event_participant.participant))
          ).html_safe,
          modal_id: "destroy-event-participant-#{event_participant.id}-event",
          modal_title: EventParticipant.human_attribute_name(:event_destroy)
        }
      %>
      <%=
        render partial: "modal_form", locals: {
          url: new_link_path(link: {
            linkable_id: event_participant.id, linkable_type: EventParticipant
          }),
          modal_id: "add-source-#{event_participant.id}",
          modal_title: EventParticipant.human_attribute_name(:new_source)
        }
      %>
      <%=
        render partial: "modal_form", locals: {
          url: new_attachment_path(attachment: {
            attachable_id: event_participant.id, attachable_type: EventParticipant
          }),
          modal_id: "add-attachment-#{event_participant.id}",
          modal_title: EventParticipant.human_attribute_name(:new_attachment)
        }
      %>
      <% event_participant.sources.each do |link| %>
        <%=
          render partial: "modal_form", locals: {
            url: edit_link_path(link),
            modal_id: "edit-link-#{link.id}",
            modal_title: Link.human_attribute_name(:edit)
          }
        %>
        <%=
          render partial: "confirm_delete", locals: {
            record: link,
            confirm_message: Link.human_attribute_name(
              :destroy_confirm, record: tag.strong(display_name(link))
            ).html_safe,
            modal_id: "destroy-link-#{link.id}",
            modal_title: Link.human_attribute_name(:destroy)
          }
        %>
      <% end %>
      <% event_participant.attachments.each do |attachment| %>
        <%=
          render partial: "modal_form", locals: {
            url: edit_attachment_path(attachment),
            modal_id: "edit-attachment-#{attachment.id}",
            modal_title: Attachment.human_attribute_name(:edit)
          }
        %>
        <%=
          render partial: "confirm_delete", locals: {
            record: attachment,
            confirm_message: Attachment.human_attribute_name(
              :destroy_confirm, record: tag.strong(display_name(attachment))
            ).html_safe,
            modal_id: "destroy-attachment-#{attachment.id}",
            modal_title: Attachment.human_attribute_name(:destroy)
          }
        %>
      <% end %>
      <% if event_participant.location %>
        <%=
          render partial: "modal_map", locals: {
            modal_id: "location-#{event_participant.id}-modal",
            data_location_path: location_path(event_participant.location_id)
          }
        %>
      <% end %>
      <div class="media item">
        <div class="d-none d-md-inline mr-2 event-only">
          <% fallback_image = event_participant.participant.is_a?(Person) ?
              "open-iconic/person.svg" : "open-iconic/home.svg" %>
          <%= image_tag event_participant.participant.picture&.thumb&.url || image_path(fallback_image),
                class:"rounded-circle thumb main" %>
        </div>
        <div class="media-body mb-0 pb-2">
          <div class="d-inline-block">
            <span class="float-left mr-2">
              <strong class="mb-2 mb-md-0 participant-only">
                <%= display_resource(event_participant.event) %>
              </strong>
              <strong class="mb-2 mb-md-0 event-only">
                <%= display_resource(event_participant.participant) %>
              </strong>
            </span>
            <div class="d-none d-md-inline-block participant-only">
              <% if can? :update, event_participant %>
                <a href="#edit-event-participant-<%= event_participant.id %>-participant"
                   class="action has-tooltip"
                   data-toggle="modal"
                   data-placement="top"
                   title="<%= EventParticipant.human_attribute_name(:participant_edit) %>">
                  <%= image_tag image_path("open-iconic/pencil.svg") %>
                </a>
              <% end %>
              <% if can? :delete, event_participant %>
                <a href="#destroy-event-participant-<%= event_participant.id %>-participant"
                   class="action has-tooltip"
                   data-toggle="modal"
                   data-placement="top"
                   title="<%= EventParticipant.human_attribute_name(:participant_destroy) %>">
                  <%= image_tag image_path("open-iconic/x.svg") %>
                </a>
              <% end %>
            </div>
            <div class="d-none d-md-inline-block event-only">
              <% if can? :update, event_participant %>
                <a href="#edit-event-participant-<%= event_participant.id %>-event"
                   class="action has-tooltip"
                   data-toggle="modal"
                   data-placement="top"
                   title="<%= EventParticipant.human_attribute_name(:event_edit) %>">
                  <%= image_tag image_path("open-iconic/pencil.svg") %>
                </a>
              <% end %>
              <% if can? :delete, event_participant %>
                <a href="#destroy-event-participant-<%= event_participant.id %>-event"
                   class="action has-tooltip"
                   data-toggle="modal"
                   data-placement="top"
                   title="<%= EventParticipant.human_attribute_name(:event_destroy) %>">
                  <%= image_tag image_path("open-iconic/x.svg") %>
                </a>
              <% end %>
            </div>
          </div>
          <% if event_participant.role %>
            <span class="small d-block">
              <strong><%= EventParticipant.human_attribute_name(:role) %>:</strong>
              <%= display_resource(event_participant.role) %>
            </span>
          <% end %>
          <% if event_participant.from_datetime %>
            <span class="small d-block">
              <strong><%= EventParticipant.human_attribute_name(:from_datetime) %>:</strong>
              <%= display_time(event_participant.from_datetime) %>
              <% if event_participant.approximate_dates %>
                <strong>*</strong>
              <% end %>
            </span>
          <% end %>
          <% if event_participant.from_datetime || event_participant.to_datetime %>
            <span class="small d-block">
              <strong><%= EventParticipant.human_attribute_name(:to_datetime) %>:</strong>
              <% if event_participant.to_datetime %>
                <%= display_time(event_participant.to_datetime) %>
                <% if event_participant.approximate_dates %>
                  <strong>*</strong>
                <% end %>
              <% else %>
                -
              <% end %>
            </span>
          <% end %>
          <% if event_participant.approximate_dates %>
            <strong class="small">* <%= EventParticipant.human_attribute_name(:approximate_dates_label) %></strong>
          <% end %>
          <% if event_participant.time_zone %>
          <span class="small d-block">
            <strong><%= EventParticipant.human_attribute_name(:time_zone) %>:</strong>
            <%= event_participant.time_zone %>
          </span>
          <% end %>
          <% if event_participant.location %>
            <span class="small d-block">
              <strong><%= EventParticipant.human_attribute_name(:location) %>:</strong>
              <a href="#location-<%= event_participant.id %>-modal" data-toggle="modal">
                <%= display_name(event_participant.location)%>
              </a>
            </span>
          <% end %>
          <span class="small d-block">
            <strong class="mr-1">
              <%= EventParticipant.human_attribute_name(:sources) %>:
            </strong>
            <div class="d-none d-md-inline-block">
              <% if can? :update, event_participant %>
                <a href="#add-source-<%= event_participant.id %>"
                   class="action has-tooltip"
                   data-toggle="modal"
                   data-placement="top"
                   title="<%= EventParticipant.human_attribute_name(:new_source) %>">
                  <%= image_tag image_path("open-iconic/plus.svg") %>
                </a>
              <% end %>
            </div>
          </span>
          <% event_participant.sources.each do |link| %>
            <div class="small d-block">
              <span class="float-left mr-2">
                <strong class="ml-3 mr-1 float-left">
                  <%= link_to(link.label, link_path(link, origin: origin_params)) %>
                </strong>
                <div class="small d-inline-block text-truncate float-left has-tooltip"
                     title="<%= link.url %>"
                     style="max-width: 150px; padding-top: 3px">
                  <%= link.url %>
                </div>
              </span>
              <div class="d-none d-md-inline-block">
                <% if can? :update, link %>
                  <a href="#edit-link-<%= link.id %>"
                     class="action has-tooltip"
                     data-toggle="modal"
                     data-placement="top"
                     title="<%= Link.human_attribute_name(:edit) %>">
                    <%= image_tag image_path("open-iconic/pencil.svg") %>
                  </a>
                <% end %>
                <% if can? :delete, link %>
                  <a href="#destroy-link-<%= link.id %>"
                     class="action has-tooltip"
                     data-toggle="modal"
                     data-placement="top"
                     title="<%= Link.human_attribute_name(:destroy) %>">
                    <%= image_tag image_path("open-iconic/x.svg") %>
                  </a>
                <% end %>
              </div>
            </div>
          <% end %>
          <span class="small d-block">
            <strong class="mr-1">
              <%= EventParticipant.human_attribute_name(:attachments) %>:
            </strong>
            <div class="d-none d-md-inline-block">
              <% if can? :update, event_participant %>
                <a href="#add-attachment-<%= event_participant.id %>"
                   class="action has-tooltip"
                   data-toggle="modal"
                   data-placement="top"
                   title="<%= EventParticipant.human_attribute_name(:new_attachment) %>">
                  <%= image_tag image_path("open-iconic/plus.svg") %>
                </a>
              <% end %>
            </div>
          </span>
          <% event_participant.attachments.each do |attachment| %>
            <div class="small d-block">
              <span class="mr-1">
                <strong class="ml-3">
                  <%= link_to attachment.label, attachment_path(attachment, origin: origin_params) %>
                </strong>
                <span><%= attachment.file_extension %></span>
                <span class="small">(<%= number_to_human_size(attachment.file_size) %>)</span>
              </span>
              <div class="d-none d-md-inline-block">
                <% if can? :update, attachment %>
                  <a href="#edit-attachment-<%= attachment.id %>"
                     class="action has-tooltip"
                     data-toggle="modal"
                     data-placement="top"
                     title="<%= Attachment.human_attribute_name(:edit) %>">
                    <%= image_tag image_path("open-iconic/pencil.svg") %>
                  </a>
                <% end %>
                <% if can? :delete, attachment %>
                  <a href="#destroy-attachment-<%= attachment.id %>"
                     class="action has-tooltip"
                     data-toggle="modal"
                     data-placement="top"
                     title="<%= Attachment.human_attribute_name(:destroy) %>">
                    <%= image_tag image_path("open-iconic/x.svg") %>
                  </a>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
