<%= form_for @resource, html: { :"data-init" => "initEventParticipantModal" } do |f| %>
  <div class="modal-body">
    <div class="form-group row event-only">
      <%= hidden_field_tag "event_participant[participant_type]",
            @resource.participant_type, required: true %>
      <% participant_id_error = @resource.errors[:participant_id]&.first  %>
      <%= label_tag "event_participant[participant_id]",
            @resource.class.human_attribute_name(:participant), class: "col-3" %>
      <%= select_tag "event_participant[participant_id]",
            options_for_select([nil] + participants_options, @resource.participant_id),
            class: "col-8 form-control form-control-sm #{"is-invalid" if participant_id_error}",
            required: true, disabled: @resource.persisted? %>
      <% if participant_id_error %>
        <div class="invalid-feedback">
          <div class="row">
            <div class="col-8 offset-3">
              <%= participant_id_error %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="form-group row participant-only">
      <% event_id_error = @resource.errors[:event_id]&.first  %>
      <%= label_tag "event_participant[event_id]",
            @resource.class.human_attribute_name(:event), class: "col-3" %>
      <%= select_tag "event_participant[event_id]",
            options_for_select([nil] + events_options, @resource.event_id),
            class: "col-8 form-control form-control-sm #{"is-invalid" if event_id_error}",
            required: true, disabled: @resource.persisted? %>
      <% if event_id_error %>
        <div class="invalid-feedback">
          <div class="row">
            <div class="col-8 offset-3">
              <%= event_id_error %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="form-group row">
      <% role_id_error = @resource.errors[:role_id]&.first  %>
      <%= label_tag "event_participant[role_id]",
            @resource.class.human_attribute_name(:role), class: "col-3" %>
      <%= select_tag "event_participant[role_id]",
            options_for_select([nil] + roles_options, @resource.role_id),
            class: "col-8 form-control form-control-sm #{"is-invalid" if role_id_error}" %>
      <% if role_id_error %>
        <div class="invalid-feedback">
          <div class="row">
            <div class="col-8 offset-3">
              <%= role_id_error %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="form-group date-boundaries-group row">
      <% from_datetime_error = @resource.errors[:from_datetime]&.first %>
      <%= label_tag "event_participant[from_datetime]",
            @resource.class.human_attribute_name(:from_datetime), class: "col-3" %>
      <%= hidden_field_tag "event_participant[from_datetime]", @resource.from_datetime %>
      <%= date_field_tag "event_participant[from_datetime_date]",
            display_date(@resource.from_datetime_in_time_zone),
            class: "form-control form-control-sm col-5 #{"is-invalid" if from_datetime_error}" %>
      <%= text_field_tag "event_participant[from_datetime_time]",
            display_time_in_day(@resource.from_datetime_in_time_zone), placeholder: "hh:mm",
            class: "form-control form-control-sm col-2 ml-1 timepicker #{"is-invalid" if from_datetime_error}" %>
      <% if from_datetime_error %>
        <div class="invalid-feedback">
          <div class="row">
            <div class="col-8 offset-3">
              <%= from_datetime_error %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="form-group date-boundaries-group row">
      <% to_datetime_error = @resource.errors[:to_datetime]&.first %>
      <%= label_tag "event_participant[to_datetime]",
            @resource.class.human_attribute_name(:to_datetime), class: "col-3" %>
      <%= hidden_field_tag "event_participant[to_datetime]", @resource.to_datetime %>
      <%= date_field_tag "event_participant[to_datetime_date]",
            display_date(@resource.to_datetime_in_time_zone),
            class: "form-control form-control-sm col-5 #{"is-invalid" if to_datetime_error}" %>
      <%= text_field_tag "event_participant[to_datetime_time]",
            display_time_in_day(@resource.to_datetime_in_time_zone), placeholder: "hh:mm",
            class: "form-control form-control-sm col-2 ml-1 timepicker #{"is-invalid" if to_datetime_error}" %>
      <% if to_datetime_error %>
        <div class="invalid-feedback">
          <div class="row">
            <div class="col-8 offset-3">
              <%= to_datetime_error %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="form-group row">
      <% time_zone_error = @resource.errors[:time_zone]&.first  %>
      <%= label_tag "event_participant[time_zone]",
            @resource.class.human_attribute_name(:time_zone), class: "col-3" %>
      <%= select_tag "event_participant[time_zone]",
            options_for_select([nil] + time_zone_options, @resource.time_zone),
            class: "col-8 form-control form-control-sm #{"is-invalid" if time_zone_error}",
            required: true %>
      <% if time_zone_error %>
        <div class="invalid-feedback">
          <div class="row">
            <div class="col-8 offset-3">
              <%= time_zone_error %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <fieldset class="form-group">
      <div class="row">
        <%= label_tag "event_participant[approximate_dates]",
              @resource.class.human_attribute_name(:approximate_dates), class: "col-3" %>
        <div class="form-control-sm form-control-check col-8">
          <div class="form-check">
            <input class="form-check-input" type="radio"
                   name="event_participant[approximate_dates]"
                   required id="approximateDatesYes" value="1"
                   <%= "checked" if @resource.approximate_dates %>>
            <label class="form-check-label" for="approximateDatesYes">
              <%= t("observatorio.true") %>
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio"
                   name="event_participant[approximate_dates]"
                   required id="approximateDatesNo" value="0"
                   <%= "checked" unless @resource.approximate_dates %>>
            <label class="form-check-label" for="approximateDatesNo">
              <%= t("observatorio.false") %>
            </label>
          </div>
        </div>
      </div>
    </fieldset>
    <div class="border-bottom pb-2 mb-2">
      <%= @resource.class.human_attribute_name(:location) %>
    </div>
    <div class="form-group location-group small">
      <%= f.hidden_field :location_id,
            :"data-geocoding-placeholder" => t("observatorio.search.placeholder"),
            :"data-locations-path" => reverse_geocode_locations_path %>
      <% if @resource.location %>
        <div class="form-check mb-1">
          <%= radio_button_tag "location_radio", @resource.location_id, true,
                id: "eventParticipantLocation", required: true, class: "form-check-input" %>
          <label class="form-check-label" for="eventParticipantLocation">
            <%= truncated_address(@resource.location) %>
          </label>
        </div>
      <% end %>
      <div class="form-check mb-1">
        <%= radio_button_tag "location_radio", nil, false,
              id: "searchLocation", required: true,
              class: "form-check-input location-search" %>
        <label class="form-check-label" for="searchLocation">
          <%= @resource.class.human_attribute_name(:location_search) %>
        </label>
      </div>
      <div class="map-container mt-2" id='<%= SecureRandom.uuid %>'>
      </div>
      <div class="form-check mb-1">
        <%= radio_button_tag "location_radio", nil, @resource.location_id.nil?,
              class: "form-check-input", required: true, id: "nullLocation" %>
        <label class="form-check-label" for="nullLocation">
          <%= @resource.class.human_attribute_name(:location_null) %>
        </label>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <%= submit_tag t("observatorio.save"), class: "btn btn-primary btn-sm" %>
    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">
      <%= t("observatorio.cancel") %>
    </button>
  </div>
<% end %>
